.sectionbutton {
    position: absolute;
    justify-content: center;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    z-index: 100;
}

.custom-sectionbutton {
    width: 37px;
    height: 37px;
}