@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: calc(100vh - 55px - 55px);
    display: flex;
    scroll-snap-align: start;
}

.container {
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: calc(100vh - 55px - 55px);
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.one {
    align-items: center;
    justify-content: center;
    background-color: #FFFCF2;
    position: relative;
}

.one p {
    position: absolute;
    width: 933px;
    height: 419px;
    top: 200px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: #203627;
}

.two {
    background: #8FC0A9;
    position: relative;
}

.two h1 {
    /* What are EPDs? */

    position: absolute;
    width: 340px;
    height: 42px;
    left: 380px;
    top: 40px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 47px;
    display: flex;
    align-items: center;

    color: #FFFCF2;
}

.two h2 {
    /* What benefits do EPDs offer? */

    position: absolute;
    width: 546px;
    height: 47px;
    left: 380px;
    top: 250px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 47px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #FFFCF2;
}

.two p {
    position: absolute;
    width: 800px;
    height: 243px;
    left: 380px;
    top: 100px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #FFFCF2;
}

.two h3 {
    position: absolute;
    width: 240px;
    height: 96px;
    left: 380px;
    top: 455px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    color: #FFFCF2;
    background: #6488BC;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.two h4 {
    position: absolute;
    width: 240px;
    height: 96px;
    left: 660px;
    top: 455px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    color: #FFFCF2;
    background: #6488BC;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.two h5 {
    position: absolute;
    width: 220px;
    height: 96px;
    left: 940px;
    top: 455px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    color: #FFFCF2;
    background: #6488BC;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.three {
    background: #68B0AB;
    position: relative;
}

.three h1 {
    /* LCA- Life Cycle Assessment What are the life-cycle stages? */

    position: absolute;
    width: 340px;
    height: 42px;
    left: 380px;
    top: 45px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #FFFCF2;
}

.three p {
    position: absolute;
    width: 800px;
    height: 570px;
    left: 380px;
    top: 130px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #FFFCF2;
}

.four {
    background-color: #FFFCF2;
    position: relative;
}

.four p {
    position: absolute;
    width: 348px;
    height: 470px;
    left: 760px;
    top: 150px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: right;

    color: #203627;
}