@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tracker-title {
    padding-bottom: 25px;
    color: #000000;
}

h3 {
    padding-bottom: 25px;
}

.form-p {
    color: #000000;
}

.page-container {
    background-color: #ffffff;
}

.form-container {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(240,243,202);
    background: -moz-linear-gradient(0deg, rgba(240,243,202,1) 0%, rgba(175,232,231,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(240,243,202,1) 0%, rgba(175,232,231,1) 100%);
    background: linear-gradient(0deg, rgba(240,243,202,1) 0%, rgba(175,232,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f3ca",endColorstr="#afe8e7",GradientType=1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form {
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(33% - 20px);
}

.input-group2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(50% - 20px);
}

.input-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: column;
    gap: 20px;
}

label {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input {
    border: none;
    outline: none;
    background-color: #e7e7e7;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
  
  input:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

select {
    border: none;
    outline: none;
    background-color: #e7e7e7;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.barchart-container {
    display: flex;
    justify-content: center;
    z-index: 999;
}

.input3 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

button {
    border: none;
    outline: none;
    background: rgb(207,217,144);
    background: -moz-linear-gradient(0deg, rgba(207,217,144,1) 0%, rgba(110,195,191,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(207,217,144,1) 0%, rgba(110,195,191,1) 100%);
    background: linear-gradient(0deg, rgba(207,217,144,1) 0%, rgba(110,195,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfd990",endColorstr="#6ec3bf",GradientType=1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #000000;
}

.gradient-transition {
    width: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(240,243,202,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(240,243,202,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(240,243,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f0f3ca",GradientType=1);
}

.table-section {
    padding-bottom: 100px;
    width: 80%;
    margin: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    width: 100%;
    height: 600px;
    margin: auto;
    border-radius: 15px;
    border-collapse: collapse;
    overflow: auto;
    background: #171717e6;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.react-table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.react-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.097);
}

th,
td {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 12px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

th {
    text-align: left;
    font-size: 14px;
}

thead th {
    color: #95abab;
    background-color: #3b3b3bda;
}

.react-table tr:hover {
    background-color: rgba(212, 163, 115, 0.4);
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    background-color: rgba(212, 163, 115, 0.4);
    z-index: -1;
}

.overallchart-container {
    padding-bottom: 100px;
    margin: auto;
    width: 80%;
}