@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    background-color: #fffcf2;
    position: relative;
}

.barchart-container {
    display: flex;
    justify-content: center;
    z-index: 999;
}

.table-container {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    width: 80%;
    height: 600px;
    margin: auto;
    border-radius: 15px;
    border-collapse: collapse;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    font-size: 12px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

th {
    text-align: left;
    font-size: 14px;
}

thead th {
    background-color: #8FC0A9;
}

tbody tr:hover {
    background-color: rgba(212, 163, 115, 0.2);
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    background-color: rgba(212, 163, 115, 0.2);
    z-index: -1;
}